.jumbotron {
  padding-top: 6rem;
  background-color: #c4d7e0;
}

#projects,
#experiences {
  background-color: #c4d7e0;
}

section {
  padding-top: 5rem;
}

.overlay {
  width: 100px;
  top: 0;
  left: 0;
  botton: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
}
